.p-h1-title Выберите телефон от Panasonic

.p-phones-wrapper
	.p-phone-item.p-phone-item--1
		.p-phone-item__title Беспроводные телефоны
		a(hre="#").p-phone-item__link Выберите телефон

	.p-phone-item.p-phone-item--2
		.p-phone-item__title Проводные телефоны
		a(hre="#").p-phone-item__link Выберите телефон

	.p-phone-item.p-phone-item--3
		.p-phone-item__title Мобильные телефоны
		a(hre="#").p-phone-item__link Выберите телефон

	.p-phone-item.p-phone-item--4
		.p-phone-item__title Аксессуары для<br>беспроводных телефонов
		a(hre="#").p-phone-item__link Выбрать аксессуар
