@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url('~static/fonts/pf_din_text_pro/PFDinTextCompPro-Regular.woff2') format('woff2'),
  url('~static/fonts/pf_din_text_pro/PFDinTextCompPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url('~static/fonts/pf_din_text_pro/PFDinTextCompPro-Light.woff2') format('woff2'),
  url('~static/fonts/pf_din_text_pro/PFDinTextCompPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url('~static/fonts/pf_din_text_pro/PFDinTextCompPro-Medium.woff2') format('woff2'),
  url('~static/fonts/pf_din_text_pro/PFDinTextCompPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url('~static/fonts/pf_din_text_pro/PFDinTextCompPro-Bold.woff2') format('woff2'),
  url('~static/fonts/pf_din_text_pro/PFDinTextCompPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url('~static/fonts/pf_din_text_pro/PFDinTextCompPro-Regular.woff2') format('woff2'),
  url('~static/fonts/pf_din_text_pro/PFDinTextCompPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


