doctype html
html(lang='ru')
	head
		block head
			meta(name="viewport" content="width=device-width, initial-scale=1")
			block stylesheets
				link(rel="stylesheet" href=`index.css`)
	body
		.p-container
			block body
